# Build output
/build/
/build-res/
/out/
[Bb]uild/
*.user

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Testing/

# IDE / OS
.vs/
.vscode/
*.obj
*.lib
*.exe
*.pdb
*.ilk
.DS_Store
